In [1]:
## dictionaries

In [2]:
d1 = {'Name':'Sita','Age':30}

In [3]:
d1

{'Name': 'Sita', 'Age': 30}

In [4]:
# 1. Dictionary has no indexing
# 2. Dictionary is mutable datatype
# 3. Keys-immutable,values-mutable or immutable
# 4. Keys should be unique

In [5]:
# Mutable-List/Sets/Dictionary
# Immutable - Strings/tuple/int/float/Complex/Boolean

In [6]:
## creating an empty dictionary

In [7]:
D = {}

In [8]:
type(D)

dict

In [9]:
D = {'Name':'Sam','Gender':'Male'}

In [10]:
d1 = {[1,2,3]:'Nitish'}

TypeError: unhashable type: 'list'

In [11]:
## Keys can only have mutable

In [12]:
d1 = {(1,2,3):'Nitish'}

In [13]:
d1

{(1, 2, 3): 'Nitish'}

In [14]:
d2 = {'Name':'Rahul','Name':'Rohit'}

In [15]:
d2

{'Name': 'Rohit'}

In [16]:
## this can be used when you need to modify a dictionary

In [17]:
## 2D dictionary

In [19]:
d3 ={'Name':'Rohit','College':'HIT','Marks':{'M1':80,'M2':97,'M3':86}}

In [20]:
d3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 80, 'M2': 97, 'M3': 86}}

In [21]:
## Accessing item from dictionary

In [24]:
d3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 80, 'M2': 97, 'M3': 86}}

In [25]:
d3[0]

KeyError: 0

In [26]:
## Non subscriptable

In [27]:
d3['Name']

'Rohit'

In [28]:
#can only accessible with the key

In [29]:
## No indexing,slicing

In [31]:
## accessing 2D dictionary

In [32]:
d3['Marks']

{'M1': 80, 'M2': 97, 'M3': 86}

In [33]:
d3['Marks']['M3']

86

In [30]:
## Editing a dictionary

In [34]:
D

{'Name': 'Sam', 'Gender': 'Male'}

In [35]:
D['Name'] = 'Rahul'

In [36]:
D

{'Name': 'Rahul', 'Gender': 'Male'}

In [37]:
d3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 80, 'M2': 97, 'M3': 86}}

In [38]:
d3['Marks']['M1'] = 81

In [39]:
d3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 81, 'M2': 97, 'M3': 86}}

In [40]:
d3.get('Name')

'Rohit'

In [41]:
## This can be used only for 1D

In [42]:
## Add new key value pairs

In [43]:
D

{'Name': 'Rahul', 'Gender': 'Male'}

In [44]:
D['Age'] = 32

In [45]:
D

{'Name': 'Rahul', 'Gender': 'Male', 'Age': 32}

In [46]:
d3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 81, 'M2': 97, 'M3': 86}}

In [47]:
d3['Marks']['M4'] = 89

In [48]:
d3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 81, 'M2': 97, 'M3': 86, 'M4': 89}}

In [49]:
## Delete

In [58]:
## 1. del
## 2. clear

In [52]:
D5 = {}

In [53]:
D5

{}

In [54]:
del D5

In [55]:
D

{'Name': 'Rahul', 'Gender': 'Male', 'Age': 32}

In [56]:
del D['Gender']

In [57]:
D

{'Name': 'Rahul', 'Age': 32}

In [59]:
D.clear()

In [60]:
D

{}

In [61]:
## dictionary will become a empty dictionary

In [62]:
## Operations in dictionary

In [63]:
## No concatenatenation,multiplication

In [64]:
d3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 81, 'M2': 97, 'M3': 86, 'M4': 89}}

In [65]:
for i in d3:
    print(i)

Name
College
Marks

In [66]:
for i in d3:
    print(i,d3[i])

Name Rohit
College HIT
Marks {'M1': 81, 'M2': 97, 'M3': 86, 'M4': 89}

In [67]:
for i in d3:
    print(d3[i])

Rohit
HIT
{'M1': 81, 'M2': 97, 'M3': 86, 'M4': 89}

In [68]:
d3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 81, 'M2': 97, 'M3': 86, 'M4': 89}}

In [70]:
'Rohit' in d3

False

In [71]:
'Name' in d3

True

In [72]:
## membership - exists in keys

In [73]:
## functions in python

In [74]:
len(d3)

3

In [75]:
min(d3)

'College'

In [76]:
max(d3)

'Name'

In [77]:
sorted(d3)

['College', 'Marks', 'Name']

In [79]:
sorted(d3,reverse=True)

['Name', 'Marks', 'College']

In [80]:
d3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [81]:
d3.values()

dict_values(['Rohit', 'HIT', {'M1': 81, 'M2': 97, 'M3': 86, 'M4': 89}])