In [1]:
## Tuples

In [2]:
## Creating an empty tuple

In [3]:
T1 =()

In [4]:
T2 = (3,4,5,6)

In [5]:
T2

(3, 4, 5, 6)

In [6]:
T3=("Hello",1,2.5)

In [7]:
T3

('Hello', 1, 2.5)

In [8]:
#2D Tuples

In [9]:
T4 = (1,2,3,(4,5))

In [10]:
T4

(1, 2, 3, (4, 5))

In [11]:
T5 = (1)

In [12]:
T5

1

In [13]:
type(T5)

int

In [14]:
T5 = ("Hello")

In [15]:
T5

'Hello'

In [16]:
type(T5)

str

In [17]:
T5 = ("Hello",)

In [18]:
T5

('Hello',)

In [19]:
type(T5)

tuple

In [20]:
T6 = tuple("Goa")

In [21]:
T6

('G', 'o', 'a')

In [22]:
T6 = tuple([1,2,3,4])

In [23]:
T6

(1, 2, 3, 4)

In [24]:
## Accessing item from a tuple

In [25]:
T2

(3, 4, 5, 6)

In [26]:
T2[0]

3

In [27]:
T2[-1]

6

In [28]:
T4

(1, 2, 3, (4, 5))

In [29]:
T4[-1][0]

4

In [30]:
## Edit

In [31]:
L = [1,2,3,4]

In [32]:
L[0] = 100

In [33]:
L

[100, 2, 3, 4]

In [38]:
T4

(1, 2, 3, (4, 5))

In [39]:
T4[0]=100

TypeError: 'tuple' object does not support item assignment

In [40]:
## Tuples just like strings are immutable

In [41]:
## Adding elements to a tuple -- No

In [43]:
## Deleting elements

In [44]:
T2

(3, 4, 5, 6)

In [45]:
del T2

In [46]:
T2

NameError: name 'T2' is not defined

In [47]:
## tuple -you can not delete a part of tuple

In [48]:
## Operations in Tuple

In [50]:
T3

('Hello', 1, 2.5)

In [51]:
T4

(1, 2, 3, (4, 5))

In [52]:
T3+T4

('Hello', 1, 2.5, 1, 2, 3, (4, 5))

In [53]:
T3*3

('Hello', 1, 2.5, 'Hello', 1, 2.5, 'Hello', 1, 2.5)

In [54]:
for i in T3:
    print(i)

Hello
1
2.5

In [55]:
1 in T3

True

In [56]:
## Functions in Python

In [57]:
len(T3)

3

In [61]:
max(T5)

'Hello'

In [63]:
T2 = [4,1,5,6]

In [64]:
sorted(T2)

[1, 4, 5, 6]

In [65]:
sorted(T2,reverse=True)

[6, 5, 4, 1]

In [67]:
## Tuples are read only data type